.body {
    background: #f4bc28;
}

.header {
    background: #cc0000;
}

.logo {
}





.tabs {
    border: none;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }

.tabs__bar {
    width: 100%;
    padding-top: 2%;
    flex-shrink: 0;
    background: #rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flexButton{

}

.tabs__button {
    display: block;
    padding: 20px;
    background: #rgba(0, 0, 0, 0);
    border-style: 10px solid;
    border-top-style: none;
    width: 20%;
    outline: none;
    cursor: pointer;
}

.tabs__button:active{
  background: #2d9;
}

.tabs__content {
    padding: 15px;
    font-size: 0.8rem;
    display: none;
}

.tabs__content--active{
  display: block;
}

.tabs__content > :first-child {
  margin-top: 0;
}
